#!/bin/zsh

source /home/rollings/.zshrc
source_root

cd /data/lhcb/users/rollings/multi_scripts/build/ 
./Fitting -inputDir=${INPUT} -outputDir=${PATH} -toys=${NTOYS} -D1D -daughters=${DAUGHTERS} -charge=${CHARGE} -neutral=${NEUTRAL} -bl=${BL} -bh=${BH} -dl=${DL} -dh=${DH} -dpl=${DPL} -dph=${DPH}
