#!/bin/zsh

source /home/rollings/.zshrc
source_root

cd /home/rollings/Bu2Dst0h_2d/FittingProgramme/build/
./Fitting -outputDir=${PATH} -toys=${NTOYS} -daughters=kpi -neutral=${NEUTRAL} -inputDir=${INPUT} -bl=${BL} -bh=${BH} -dl=${DL} -dh=${DH} -dpl=${DPL} -dph=${DPH} ${DIM}
