#!/bin/bash
#PBS -l cput=01:59:59 

source /home/rollings/.zshrc.local
source_root

python /home/rollings/Bu2Dst0h_2d/FittingProgramme/results_analysis/plot_pulls.py -i=${INPUT} -o=${OUTPUT} -n=gamma -t=model -d=D1D -dl=${DL} -dh=${DH} -bl=${BL} -bh=${BH}
