#!/bin/zsh
#PBS -l cput=11:59:59 
#PBS -N PLOTPULLS_${NEUTRAL}_${DPL}_${DPH}_${DL}_${DH}_${BL}_${BH}

source /home/rollings/.zshrc.local
source_root

python /home/rollings/Bu2Dst0h_2d/FittingProgramme/results_analysis/plot_pulls.py -i=${INPUT} -o=${OUTPUT} -n=${N} -t=data -d=2D -dl=${DL} -dh=${DH} -bl=${BL} -bh=${BH} -dpl=${DPL} -dph=${DPH}
