source /home/rollings/.zshrc.local
source_root

mkdir /data/lhcb/users/rollings/fitting_scripts/job_${COMMIT}_${GEN}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${nJob}
cd /data/lhcb/users/rollings/fitting_scripts/job_${COMMIT}_${GEN}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${nJob}

git clone https://github.com/alexrollings/FittingProgramme.git
cd FittingProgramme
git checkout ${COMMIT}

mkdir build
cd build
cmake ../
make -j4
./Fitting -inputDir=${INPUT} -outputDir=${PATH} -neutral=${NEUTRAL} -daughters=${DAUGHTERS} -charge=${CHARGE} -bl=${BL} -bh=${BH} -dl=${DL} -dh=${DH} -dpl=${DPL} -dph=${DPH} -toys=${NTOYS} -${GEN} -nCPU=4

cd /data/lhcb/users/rollings/fitting_scripts/
rm -rf job_${COMMIT}_${GEN}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${nJob}
