executable = run_toys_${GEN}_${NEUTRAL}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${CHARGE}_${DAUGHTERS}_${nJob}.sh
universe = vanilla
output = output/run_toys_${GEN}_${NEUTRAL}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${CHARGE}_${DAUGHTERS}_${nJob}.output.${CLUSTERID}
error = error/run_toys_${GEN}_${NEUTRAL}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${CHARGE}_${DAUGHTERS}_${nJob}.error.${CLUSTERID}
log = log/run_toys_${GEN}_${NEUTRAL}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${CHARGE}_${DAUGHTERS}_${nJob}.log.${CLUSTERID}
notification = never
queue 1
