#!/bin/zsh
source /home/rollings/.zshrc.local
source_root

mkdir /data/lhcb/users/rollings/fitting_scripts/job_${COMMIT}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${SYST}_${nJob}
cd /data/lhcb/users/rollings/fitting_scripts/job_${COMMIT}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${SYST}_${nJob}

git clone https://github.com/alexrollings/FittingProgramme.git
cd FittingProgramme
git checkout ${COMMIT}

mkdir build
cd build
cmake ../
make
./Fitting -inputDir=${INPUT} -outputDir=${PATH} -systematic=${SYST} -nSyst=${NFITS} -neutral=${NEUTRAL} -daughters=${DAUGHTERS} -charge=${CHARGE} -bl=${BL} -bh=${BH} -dl=${DL} -dh=${DH} -dpl=${DPL} -dph=${DPH} -nCPU=1 -unblind

cd /data/lhcb/users/rollings/fitting_scripts/
rm -rf job_${COMMIT}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${SYST}_${nJob}
