executable = run_toys_${COMMIT}_${GEN}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${nJob}.sh
universe = vanilla
output = output/run_toys_${COMMIT}_${GEN}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${nJob}.output.${CLUSTERID}
error = error/run_toys_${COMMIT}_${GEN}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${nJob}.error.${CLUSTERID}
log = log/run_toys_${COMMIT}_${GEN}_${NEUTRAL}_${DAUGHTERS}_${CHARGE}_${DL}_${DH}_${DPL}_${DPH}_${BL}_${BH}_${nJob}.log.${CLUSTERID}
request_cpus = 4
notification = never
getenv = true
queue 1
